<?php

namespace OpenActive\Enums{{{subNamespaceText}}};

/**
{{#enumDoc}}
 * {{{ . }}}
{{/enumDoc}}
 *
 */
class {{{typeName}}}
{
{{#each values}}
    const {{{value}}} = \OpenActive\Enums{{{@root.subNamespaceText}}}\\{{{@root.typeName}}}\\{{{value}}}::class;
{{/each}}
}
