<?php

namespace OpenActive\Enums{{{@root.subNamespaceText}}}\\{{{typeName}}};

/**
{{#enumDoc}}
 * {{{ . }}}
{{/enumDoc}}
 *
 */
class {{{value}}} extends \OpenActive\Enums{{{@root.subNamespaceText}}}\\{{{typeName}}}
{
    const value = "{{{value}}}";
    const memberVal = "{{{memberVal}}}";
}
