<?php

namespace OpenActive\Enums{{{subNamespaceText}}}\\{{{typeName}}}\\{{{value}}};

/**
{{#enumDoc}}
 * {{{ . }}}
{{/enumDoc}}
 *
 */
class {{{value}}} extends \OpenActive\Enums{{{subNamespaceText}}}\\{{{typeName}}}
{
    const value = "{{{value}}}";
    const memberVal = "{{{memberVal}}}";
}
