<?php

namespace OpenActive\Models{{{subNamespaceText}}};

/**
{{#classDoc}}
 * {{{ . }}}
{{/classDoc}}
 *
 */
class {{{className}}} extends {{{ inherits }}}
{
{{#fieldList}}
    /**
{{#description}}
     * {{{ . }}}
{{/description}}
     *
{{# codeExample }}
     * {{{ . }}}
{{/codeExample }}
     */
    protected ${{{propName}}};

{{/fieldList}}
{{#fieldList}}
    /**
     * @return {{{propertyType}}}
     */
    public function get{{{pascalCasePropName}}}()
    {
        return $this->{{{propName}}};
    }

    /**
     * @var {{{propertyType}}}
     */
    public function set{{{pascalCasePropName}}}(${{{propName}}})
    {
        return $this->{{{propName}}} = ${{{propName}}};
    }

{{/fieldList}}
}
