{{#each namespace_parts}}
{{{module_start @index}}}module {{{.}}}
{{/each}}
{{#indent}}
{{#classDoc}}
# {{{ . }}}
{{/classDoc}}
class {{{className}}} < {{{ inherits }}}
  # @!attribute type
  # @return [String]
  def type
    "{{modelType}}"
  end
  property :type, as: "type"

{{#fieldList}}
  # @return {{{propertyType}}}
  define_property :{{{snakePropName propName}}}, as: "{{memberName}}", types: [
  {{# propertyTypes }}
    "{{{ . }}}",
  {{/propertyTypes }}
  ]
{{#unless @last}}

{{/unless}}
{{/fieldList}}
end
{{/indent}}
{{#each namespace_parts}}
{{{module_end @index}}}end
{{/each}}
