{{#each namespace_parts}}
{{{module_start @index}}}module {{{.}}}
{{/each}}
{{#indent}}
{{#classDoc}}
# {{{ . }}}
{{/classDoc}}
class {{{className}}} < {{{ inherits }}}
{{#fieldList}}
  # @return {{{propertyType}}}
  attr_accessor :{{{snakePropName propName}}}
{{#unless @last}}

{{/unless}}
{{/fieldList}}
end
{{/indent}}
{{#each namespace_parts}}
{{{module_end @index}}}end
{{/each}}
